// Main layout template styles.
@import '../globals.less';

.main {
  padding-bottom: 10px;
  padding-top: 10px;

  header,
  footer {
    text-align: center;

    hr {
      clear: both;
    }
  }

  header {
    h1 {
      margin-bottom: 5px;
    }

    hr {
      margin: 10px 0 20px 0;
    }
  }

  footer hr {
    margin: 26px 0 16px 0;
  }

  // Small devices (tablets, 768px and up)
  @media (min-width: @screen-sm-min) {
    padding-bottom: 15px;
    padding-top: 15px;

    header h1 {
      margin-bottom: 10px;
      text-align: left;
    }
  }
}
